* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  color: #efe6dd;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  background-color: #f1d993;
  /*justify content coloca tudo no centro*/
}
.title {
  text-align: center;
}
h2 {
  font-size: 16px;
  text-align: center;
}
.container {
  background: #231f20;
  margin: 30px;
  padding: 45px;
  border-radius: 25px;
}
.status-action {
  display: flex;
  margin-top: 25px;
  font-size: 20px;
  justify-content: space-around;
  height: 30px;
}
.reset {
  cursor: pointer;
}
.reset:hover {
  color: #bb4430;
}
.game-grid {
  background: #bb4430;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 3px;
  margin-top: 50px;
}
.game-cell {
  background: #231f20;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
}
.x::after {
  content: "×";
  font-size: 100px;
  margin: auto;
  color: #7ebdc2;
}
.o::after {
  content: "●";
  font-size: 100px;
  margin: auto;
  color: #f3dfa2;
}
